<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/bootstrap.css">
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="stylesheet" href="../CSS/stylecompra.css">
    <script type="text/Javascript" src="../JS/bootstrap.js"></script>
    <title>FGR MULTIMARCAS</title>
</head>
<body>
    <header class="containernavegacao">
        <nav class="navbar navbar-expand-lg containernavegacao margem">
            <div class="container-fluid">
              <a class="navbar-brand" href="index.html">
                <img src="../IMG/Design modificado.png" alt="" style="height: 35px;">
                <legend>FGR MULTIMARCAS</legend>
              </a>
              <div class="d-flex justify-content-end">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              
              <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Comprar</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="venda.html">Vender</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="sobre.html"> Sobre</a>
                    </li>
                </ul>
            </div>
          </div>
        </div>
        </div>
      </nav>
</header>

<main>
    <br><br><br>
    <div class="containercarousel">
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner" style="height: 20em;">
              <div class="carousel-item h-100 active" style="background-image: url(../IMG/bannercarro3.jpg); background-size: contain ; background-repeat: no-repeat; background-position: center;">
              </div>
              <div class="carousel-item h-100" data-bs-interval="2000" style="background: url(../IMG/bannercarro2mod.jpg) center/contain no-repeat; ">
              </div>
              <div class="carousel-item h-100"style="background: url(../IMG/bannercarromod.png) center/contain no-repeat; ">
                
               
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <br><br>
    <section>
        <div class="card" style="width: 18rem;">
            <img src="../IMG/Design modificado.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Car Exemple</h5>
              <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">An item</li>
              <li class="list-group-item">A second item</li>
              
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="../IMG/Design modificado.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Car Exemple</h5>
              <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">An item</li>
              <li class="list-group-item">A second item</li>
              
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="../IMG/Design modificado.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Car Exemple</h5>
              <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">An item</li>
              <li class="list-group-item">A second item</li>
              
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="../IMG/Design modificado.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Car Exemple</h5>
              <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">An item</li>
              <li class="list-group-item">A second item</li>
             
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="../IMG/Design modificado.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Car Exemple</h5>
              <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">An item</li>
              <li class="list-group-item">A second item</li>
             
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="../IMG/Design modificado.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Car Exemple</h5>
              <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">An item</li>
              <li class="list-group-item">A second item</li>
            
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="../IMG/Design modificado.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Car Exemple</h5>
              <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">An item</li>
              <li class="list-group-item">A second item</li>
             
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="../IMG/Design modificado.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Car Exemple</h5>
              <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">An item</li>
              <li class="list-group-item">A second item</li>
             
            </ul>
            <div class="card-body">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
    </section>
</main>

    
</body>
</html>