<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FGR MULTIMARCAS</title>
    <link rel="stylesheet" href="../CSS/bootstrap.css">
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="stylesheet" href="../CSS/stylesobre.css">
    
    <style>
    </style>
</head>
<body>
    <header class="containernavegacao">
        <nav class="navbar navbar-expand-lg containernavegacao margem">
            <div class="container-fluid">
              <a class="navbar-brand" href="index.html">
                <img src="../IMG/Design modificado.png" alt="" style="height: 35px;">
                <legend>FGR MULTIMARCAS</legend>
              </a>
              <div class="d-flex justify-content-end">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              
              <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="compra.html">Comprar</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="venda.html">Vender</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="sobre.html">Sobre</a>
                    </li>
                </ul>
            </div>
          </div>
        </div>
        
      </nav>
</header>   

<section>
  <br>
<article>
    <H2>QUEM SOMOS</H2>
    <H3>Sua escolha mais inteligente</H3>
    <p>Fundada em 2022 por Fernado, Gabriel e Rafael, a FGR Multimarcas é uma empresa que oferece todo o apoio e suporte para que nossos clientes tenham as melhores experiencias para vender ou comprar seu carro. A marca entende e cuida de carros como ninguém, estamos fortemente conectados com o futuro da mobilidade e o nosso compromisso é ajudar os clientes a fazer a melhor escolha na hora de negociar seu carro. Hoje contamos com lojas em todo Brasil, sendo que a nossa matriz se encontra na capital de São Paulo.</p>
<hr>
    <h3>Missão,Visão, Valores</h3>
    <h4>Missão</h4>
    <p>Atender as necessidades de nossos clientes, superar as expectativas oferecendo muito mais que produtos e serviços. Nosso objetivo é proporcionar o máximo de satisfação ao nossos clientes, valorizando ainda mais o prazer de dirigir.</p>
    <h4>Visão</h4>
    <p>Ser referência no segmento com maior a credibilidade do mercado de venda de automoveis. também temos como proposito ser a maior e melhor empresa para nossos clientes e nossos colaboradores</p>
    <h4>Valores</h4>
    <p>Valorização e respeito aos clientes. <br>
      Valorização e respeitoaos nossos colaboradores. <br>
      Inclusão e diversidade. <br>
      Responsabilidade e comprometimento. <br>
      Ética e transparência.

    </p>
</article>
</section>

<br>
<hr>
<footer>
    <h2>Fale conosco</h2>
    <br>
    <ul>
          <li> <img src="../IMG/favicons/icone-facebook.png" alt="iconefacebook"> <a href="https://pt-br.facebook.com/login/device-based/regular/login/" target="_blank">  Facebook</a></li>
      
          <li><img src="../IMG/favicons/icone-instagram.png" alt="icone instagrm"><a href="https://www.instagram.com/" target="_blank">  Instagram</a></li>
      
          <li><img src="../IMG/favicons/icone-linkedin.png" alt="iconelinkedin"><a href="https://www.linkedin.com/login/pt" target="_blank">  Linkedin</a></li>
      
          <li><img src="../IMG/favicons/icone-twitter.png" alt="icone twitter"><a href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoicHQifQ%3D%3D%22%7D" target="_blank">  Twitter</a></li>
      
          <li><img src="../IMG/favicons/icone-whatsapp.png" alt="icone Whatsapp"  style="width: 19px;"><a href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoicHQifQ%3D%3D%22%7D" target="_blank">  Whatsapp</a></li>
    </ul>
        <p style="text-align: center;">Obigado pela preferência !!!</p>
</footer>
</body>
</html>